body{
    background-color: #064f57;
    color: oldlace;
}


header{
    text-align: center;
    display: flow-root;
    color:rgba(0, 255, 255, 0.671);
}

.img{
   width: 100%;
   flex-basis: content;
}

.subtitulo{
    text-align: center;
    color: cyan;

}

video{
    width: 80%;
    margin: 9%;
}

iframe{
    width: 100%;
}

button{
    border: none;
    padding-right: 2%;
    margin-left: 10px;
}

button:hover{
    border: none;
    color: cyan;
    background-color: black;
}


p{
    padding-left: 10px;
}

a{
    color: aliceblue;
    padding-left: 3%;
}



a:hover{
    color: cyan;
}








