body{
    background-color: #06403A;
    color: #F2F2F2;
}

header{
    text-align: center;
    display: flow-root;

    background: #ccc;
    background: linear-gradient(#30c9b9, #539ac7);

    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}


.galeria{
    background-color: rgba(236, 226, 167, 0.884);
    flex-flow: wrap;
    
    
}

h3{
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
   
}



