body{
    background-color: black;
    color: white;
}

.contenedor{
    text-align: center;
}

span{
    color: rgb(255, 0, 157);
}

img{
    width: 100vw;
    
}



.parrafo{
    color: blue;
}

#parrafo{
    color: gray;
}


h3:hover{
    background-color: blueviolet;
}